%br
%div= link_to(image_tag(post.image.thumb.url, alt: 'Image'), post_path(post)) if post.image?
- if current_user.email == post.author
  .columns
    .column.is-2.is-offset-8
      %p= link_to t('posts.show.edit'), edit_post_path(post), class: "button is-link"
    .column.is-2
      %p= link_to t('posts.show.delete'), post, method: :delete, class: "button is-danger"