@import "bulma";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    font-family: 'Fira Sans', sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.field{
    margin-top: 10px;
    text-align: center;
}
.actions{
    text-align: center;
}
.text-field{
    border-radius: 20px;
    height: 30px;
    width: 250px;
}
a{
    font-size: 20px;
    color: red;
    text-decoration: none;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#logo{
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    color: white;
}
#auth_buttons{
    position: absolute;
    top: 0;
    right: 0;
}
#locales{
    flex-basis: 250px;
    flex-grow: 1;
}
canvas#canvas { width:100%; height:100%; }
.button-ctrl{
  position: relative;
  margin: 0 10px 10px 0;
  background: rgba(0,0,0,.3);
  border-radius: 2px;
  padding: 10px;
  color: rgb(255,255,255);
  z-index: 2;
  cursor: pointer;
  font: 11px 'Exo 2';
  text-align: center;
  margin-top: 10px;
}
#overflow { overflow: hidden; }
.button-ctrl{
  position: relative;
  margin: 0 10px 10px 0;
  background: rgba(0,0,0,.3);
  border-radius: 2px;
  padding: 10px;
  color: rgb(255,255,255);
  z-index: 2;
  cursor: pointer;
  font: 11px 'Exo 2';
  text-align: center;
  margin-top: 10px;
}
.color{
  background: rgba(0,0,100,.3);
}
.place{
  background: rgba(0,0,100,.3);
}
.iteration{
  background: rgba(0,0,0,.1);
}
.render_save{
  background: rgba(0,0,0,.5);
}
.controls{
  position: absolute;
  bottom: 0;
  left: 0;
}
#places{
  color: rgb(255,255,255);
  position: absolute;
  bottom: 0;
  right: 0;
}
