.title{
    text-align: center;
    font-size: 30px;
}
.text{
    margin-left: 15%;
    margin-right: 15%;
    position: center;
}
#main_image{
    width: 70%;
}
img{
    display:block;
    margin: auto;
}